body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
}

.calculator {
  width: 350px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #FF959B;
}

.result {
  font-size: 24px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.button {
  padding: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFFFFF;
  font-size: 20px;
  color: #FF959B;
  margin: 5px;
}

.button:hover {
  background-color: #f0f0f0;
}
